.language-toggle {

  background: none;

  border-radius: 20%;

  border: 0.02rem solid rgba(255, 255, 255, 0.2);

}

.language-toggle button {

  display: flex;

  align-items: center;

  border: none;

  color: var(--blanco);

  margin: 0;

  font-size: 1.3rem;

  cursor: pointer;

  transition: color 0.3s ease;

}

.language-toggle button:hover {

  color: var(--primario);

}